<!-- JTB4 200320: TEMPORARY COVID-19 BANNER AT TOP OF ALL PAGES **PAUSED** --
<div class="banners" data-banner-location="top">
    <div class="banner">
        <span style="font-size:1.25rem; color:#fff;">We are <a href="/covid-19-update/" class="link-no-underline">still open for business!</a> &nbsp;Read our <a href="/covid-19-update/" class="link-no-underline"><b>Covid-19 Update</b></a> here...
        </span>
    </div>
</div>
<!-- END PAUSE -->

{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}

<header class="header" role="banner">
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    {{> components/common/navigation}}

    {{#if page_type '===' 'default'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </div>
    {{/if}}
    {{{region name="header_bottom"}}}
    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>
</header>
