<!-- ADDING A SMOOTH SCROLLING EFFECT TO WEB PAGE LINKS JTB4 191023 -->
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>
</head>
<!-- END ADD -->

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">

    <h1 class="page-heading">{{ page.title }}</h1>

    {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
        {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
        {{/each}}
        </ul>
    </nav>
    {{/if}}
    
    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</main>

{{/partial}}

{{> layout/base}}
