<ul class="tabs" data-tab>
    <li class="tab is-active">
        <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>
    </li>
<!-- Add Specs (Dimensions) tab to PDP -- JTB4 190118 -->
        <li class="tab">
            <a class="tab-title" href="#tab-dimensions">Specs</a>
        </li>
<!-- End -->
    {{#if product.warranty}}
        <li class="tab">
<!-- Shorten Warranty tab title on PDP -- JTB4 191029 -->
            <!-- a class="tab-title" href="#tab-warranty">{{lang 'products.warranty'}}</a -->
            <a class="tab-title" href="#tab-warranty">Warranty</a>
        </li>
    {{/if}}
    {{#all settings.show_product_reviews theme_settings.show_product_reviews_tabs product.reviews.total}}
        <li class="tab">
            <a class="tab-title productView-reviewTabLink" href="#tab-reviews">{{lang 'products.reviews.header' total=product.reviews.total}}</a>
        </li>
    {{/all}}
<!-- Add Other Info tab to PDP -- JTB4 190118 -->
    {{#if product.custom_fields}}
        <li class="tab">
            <a class="tab-title" href="#tab-other">Other Info</a>
        </li>
    {{/if}}
<!-- End -->
</ul>

<div class="tabs-contents">
    <div class="tab-content is-active" id="tab-description">
        {{{product.description}}}
        {{{snippet 'product_description'}}}
    </div>
    {{#if product.warranty}}
<!-- Class "info-warranty" added -- JTB4 191215 -->
        <div class="tab-content info-warranty" id="tab-warranty">
           {{{product.warranty}}}
       </div>
   {{/if}}
   {{#all settings.show_product_reviews theme_settings.show_product_reviews_tabs}}
       <div class="tab-content" id="tab-reviews">
           {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
       </div>
   {{/all}}
<!-- Move dimensional information PDP to Dimensions Tab -- JTB4 190118 -->
    <div class="tab-content" id="tab-dimensions">
<!-- Class "info-dims" added -- JTB4 191215 -->
        <div class="info-dims">
            {{{product.warranty}}}
        </div>

        <div class="productView-product">
            <dl class="productView-info" style="float:left; max-width:40%;">
                {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                    <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                    <dd class="productView-info-value" data-product-width>
                        {{product.width}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                    <dd class="productView-info-value" data-product-height>
                        {{product.height}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                    <dd class="productView-info-value" data-product-depth>
                        {{product.depth}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                {{/all}}
                {{#all product.weight theme_settings.show_product_weight}}
                    <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                    <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                {{/all}}
            </dl>
            <dl class="productView-info" style="float:left; margin-left:10%; max-width:50%;">
                {{#if product.sku}}
                    <dt class="productView-info-name">{{lang 'products.sku'}}</dt>
                    <dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
                {{/if}}
                {{#if product.upc}}
                    <dt class="productView-info-name">{{lang 'products.upc'}}</dt>
                    <dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
                {{/if}}
                {{#if product.condition}}
                    <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                    <dd class="productView-info-value">{{product.condition}}</dd>
                {{/if}}
                {{#if product.availability}}
                    <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                    <dd class="productView-info-value">{{product.availability}}</dd>
                {{/if}}
                {{#if product.min_purchase_quantity}}
                    <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.max_purchase_quantity}}
                    <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.gift_wrapping_available}}
                    <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                {{/if}}
                {{#if product.shipping}}
                    {{#if product.shipping.calculated}}
                        <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                    {{else}}
                        {{#if product.shipping.price.value '===' 0}}
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                        {{else}}
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                        {{/if}}
                    {{/if}}
                {{/if}}

                {{#if settings.bulk_discount_enabled}}
                    <div class="productView-info-bulkPricing">
                        {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                    </div>
                {{/if}}
            </dl>
        </div>
    </div>
<!-- End Dimensions -->

<!-- Move Custom Field info on PDP to Other Info Tab -- JTB4 191029 -->
    <div class="tab-content" id="tab-other">
        <div class="productView-product">
            <dl class="productView-info" style="max-width:90%;">
                {{#each product.custom_fields}}
                    {{#if name '!==' 'callout'}}
                        <dt class="productView-info-name">{{name}}</dt>
                        <dd class="productView-info-value">{{{value}}}</dd>
                    {{/if}}
                {{/each}}
            </dl>
        </div>
    </div>
<!-- End -->

</div>
